table {
    width: 100%;
    table-layout: fixed;
}

body {font-family: Verdana,Arial,Helvetica,sans-serif;}

.image {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s linear 0s;
    padding: 5px 5px 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	width: 100%;
}

.image-container img {
    flex-shrink: 0;
    min-width: 50%;
    min-height: 50%;
	overflow: hidden ! important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}