.main_window{
	
	width: 100%;
	height: 70%;
	position: relative;
	margin: auto;
}

.container{
	
	width: 100%;
	height: 88%;
	margin: auto;
}

.main{
	
	height: 95%;
	width: 79%;
	background-color: red;
	position: relative;
	float: left;
	margin: auto;
}

.main img{
	
	max-height: 100%;
	max-width: 100%;
}

.main iframe{
	
	width: 100%;
	height: 100%;
}

.main #main{
	
	z-index: 10000;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.option_panel{
	
	height:95%;
	width: 20%;
	position: relative;
	float: right;
	bottom: 1%;
}

.section{
	
	position: relative;
	height: 33%;
	width: 100%;
	margin-bottom: 2%;
	margin-top: 2%;
}

.feed{

	width: 100%;
	height: 80%;
}

.feed img{
	
	max-height: 100%;
	max-width: 100%;
}

.feed iframe{
	
	width: 100%;
	height: 100%;
}

.switch{
	
	width: 100%;
	height: 20%;
}

.switch img{
	
	max-height: 100%;
	max-width: 100%;
}

.switch_icon{
	
	width: 50%;
	height: 50%;
	float: left;
	bottom: 0;
}
.switch_icon img{
	
	max-height: 100%;
	max-width: 100%;
}

.info{
	
	position: relative;
	height: 70%;
	width: 100%;
	overflow: hidden;
	top: 0;
}

.info img{
	
	max-width: 100%;
	max-height: 100%;
}

.data-container{
	
	display: flex;
	position: relative;
	height: 30%;
	width: 100%;
}

.controls{
	
	position: relative;
	float: left;
	width: 10%;
	height: 100%;
}

.graph{
	
	position: relative;
	width: 80%;
	display: inline-block;
	margin: 0 auto;
	height: 100%;
}

.pause-play{
	
	cursor: pointer;
	max-width: 15%;
	max-height: 15%;
}
.pause-play img{
	
	max-width: 100%;
	max-height: 100%;
}

.restart{
	
	cursor: pointer;
	max-width: 20%;
	max-height: 20%;
}
.restart img{
	
	max-width: 100%;
	max-height: 100%;
}

.x-axis{
	
	position: relative;
	margin-left: 50%;
	margin-bottom: 1%;
	width: 10%;
}

.facts{
	
	position: relative;
	float: right;
	width: 20%;
	height: 100%;
}